<%= form_for ([@report, @report.sources.build]), :html => { :class => 'form-horizontal' } do |f| %>

  <div class="control-group">
    <%= f.label :Schema_Owner, :class => 'control-label' %><br />
   <div class="controls"> 

     <%= f.text_field :owner, :class => 'text_field', :readonly => true %>

   </div>
 </div>

  <div class="control-group">
    <%= f.label :Object_type, :class => 'control-label' %><br />
   <div class="controls"> 

     <%= f.text_field :object_type, :class => 'text_field', :readonly => true %>

   </div>
 </div>

 <div class="control-group"> 
    <%= f.label :Description, :class => 'control-label' %><br />
   <div class="controls">   
    <%= f.text_field :description, :class => 'text_field' %>
   </div>    
  </p>
 </div>

 <div class="control-group">
    <%= f.label :SourceName, :class => 'control-label' %><br />
   <div class="controls"> 

    <%= f.collection_select(:name, StgSource.find(:all), :id, :name, {}, {:multiple => true, :size => 10} ) %>

   </div>
 </div>

 <div class="control-group">
    <%= f.label :Filter, :class => 'control-label' %><br />
   <div class="controls"> 

     <%= text_field :filter, :title %>

   </div>
 </div>

 <%= hidden_field :tname, :title %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel'),
                report_sources_path, :class => 'btn' %>
  </div> 
<% end %>


