<% javascript 'datamart_spoiler' %>

<%- model_class = Datamart -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
         <% @levels_all.each do |l| %>

              <th>
                <%= model_class.human_attribute_name(l.level_name) %>
              </th>

         <% end %>       
    </tr>
  </thead>
  <tbody>
        <% @datamarts.each do |datamart| %> 

            <% stg_dmrt = [datamart[:level_1_id], datamart[:level_2_id], datamart[:level_3_id], datamart[:level_4_id], datamart[:level_5_id]] %>

            <tr data-hidden="hide<%= "#{data_hidden(stg_dmrt)}" %>" class="<%= "#{hide(stg_dmrt)}" %> spoiler  n_<%= "#{stg_dmrt[0]}"  %> n_<%= "#{stg_dmrt[1]}" %> n_<%= "#{stg_dmrt[2]}"  %>  n_<%= "#{stg_dmrt[3]}"  %>  n_<%= "#{stg_dmrt[4]}"  %>">
               <% @levels_all.each do |l| %>

                    <td>
                     <% if l.measure == false %>
                        <%= cust_type("#{datamart["level_" + l.level_order.to_i.to_s]}", l.level_data_type) %>

                     <% else %>
                        <%= "#{datamart["measure_" + l.level_order.to_i.to_s]}" %>
                     <% end %>

                    </td>
               <% end %>               
            </tr>
        <% end %>  
  </tbody>
</table>